*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root {
    --primary-bg: #2c323b; 
    --accent-color: #2e65ac;
    --text-light: #887d7d;
    --text-muted: #0000008a;
    --text-dark: #000000;
    --bg-body: #4b6279;
}

body {
    background-color: var(--bg-body); 
    color: var(--text-dark);
    line-height: 1.6;
}

header {
    background-color: var(--primary-bg);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-light);
    font-weight: 600;
}

.logo-icon {
    background-color: var(--accent-color);
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--accent-color);
}

.seccion-titulo {
    text-align: center;
    margin-bottom: 3rem;
}

.seccion-titulo h2 {
    color: var(--primary-bg);
    font-size: 2.2rem;
}

.seccion-titulo h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 8px auto 0;
}

.subtitulo {
    color: var(--text-muted);
}


.hero {
    background-color: var(--primary-bg);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 5%;
}

.hero-content {
    flex: 1;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.highlight {
    color: var(--accent-color);
}

.hero-content h2 {
    color: var(--text-muted);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.avatar-perfil {
    width: 250px;  
    height: 250px;
    border-radius: 50%; 
    border: 5px solid rgba(156, 156, 156, 0.808);
    object-fit: cover; 
}

.sobre-mi {
    padding: 5rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre-mi-contenedor {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.sobre-mi-texto {
    flex: 2;
}

.sobre-mi-texto p {
    margin-bottom: 1rem;
}

blockquote {
    background-color: #f7f7f7;
    border-left: 4px solid var(--accent-color);
    padding: 1.5rem;
    font-style: italic;
    color: var(--text-dark);
    margin-top: 1.5rem;
    border-radius: 0 8px 8px 0;
}

.sobre-mi-datos {
    flex: 1;
    min-width: 300px;
}

.tarjeta-datos {
    background-color: rgb(247, 243, 243);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(167, 167, 167, 0.05);
}

.tarjeta-datos h3 {
    margin-bottom: 1rem;
    color: var(--primary-bg);
}

.tarjeta-datos ul {
    list-style: none;
}

.tarjeta-datos li {
    padding: 0.8rem 0;
    border-bottom: 1px solid #162d4e;
}